html{
    color:#0B6121;
    background: url(https://c1.staticflickr.com/9/8351/29081388144_34b19180da_o.jpg);
  }
  
  body {
    font-family: "blockhead-black-face";
    margin: 0;
  }
  
  p {
    font-family: "blockhead-black-face";
  }
  
  a {
    font-family: arial;
    text-decoration: none;
    color:#0B6121;
    font-family: "blockhead-black-face";
  }
  
  h3 {
    font-family: arial;
    text-decoration: none;
    color:#0B6121;
    font-family: "blockhead-black-face";
  }
  
  h2{
    color:#0B6121;
    font-family: "blockhead-black-face";
  }

  h1{
   font-family: "blockhead-black-face";
    color: #0B6121;
  }
  
  footer {
    font-family: "blockhead-black-face";
    color: #0B6121;
  }
  
  #what-i-do {
    background-color: white;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 1300px;
    margin-top: 300px;
    margin-bottom: 0px;
  }
  
  #what-i-do p {
    max-width: 300px;
    margin: 0 auto;
    float: right;
    padding-right: 400px;
    color: #0B6121;
    text-align: justify;
    padding-top: 130px;
  }

  #what-i-do h1 {
    max-width: 500px;
    margin: 0 auto;
    float: left;
    padding-left: 400px;
    font-size: 60px;

  }

  #what-i-do h2 {
    max-width: 500px;
    margin: 0 auto;
    float: left;
    padding-left: 400px;
    font-size: 60px;
    position: absolute;
    padding-top: 500px;

  }
  
  #header {
    color: white;
    padding: 100px;
  }

  #so-me {
    color: #0B6121;
  }


.foto {
  position: absolute; right: 730px; top: 535px;
  padding-top: 300px;
  padding-bottom: 280px;
}

.graphic {
  position: absolute; right: 490px; top: -130px;
  padding-top: 300px;
  padding-bottom: 280px;
}


.d {
  position: absolute; right: 800px; top: 1330px;
}

.f {
  position: absolute; right: 500px; top: 1650px;
}

.c {
  position: absolute; right: 900px; top: 1650px;
}

.q {
  position: absolute; right: 180px; top: 1350px;
}

.w {
  position: absolute; right: 500px; top: 1350px;
}
